# --- Salesforce Hub Configuration (The Control Plane) ---
# The Consumer Key from your External Client App (ECA)
SF_CLIENT_ID=3MVG9rZjd7MXFdLi5RwK0s8Qi3b2iMF5UdsssP_.qieWfirs5h4ZYlVRv8HOpSkD5oeLSP.heQkAYqxEIFQRL

# The Username of your Dev Hub / Production Org
SF_HUB_USER=bhagyapanyam.3f845dabb0f9@agentforce.com

# The URL for authentication (https://login.salesforce.com or https://test.salesforce.com)
SF_LOGIN_URL=https://login.salesforce.com


# --- Middleware Security ---
# A secret string used to sign session cookies or JWTs for the Node.js app
APP_SECRET=a_long_random_string_for_security


# --- Local Pathing (Optional for Local Dev) ---
# The relative path to your private key file for JWT auth
# Note: server.key should be in your .gitignore!
SF_JWT_KEY_FILE=./server.key


# --- Heroku Specifics (Populated by Heroku) ---
# The port the application will run on
PORT=3000